.success-container {
    width: 100vw;
    background-color: #fff;
}

.success-container .heading {
    background-color: rgb(2,1,34);
    color: #fff;
    padding-left: 60px;
    padding-bottom: 20px;
    padding-top: 0px;
    font-weight: 400;
    font-family: sans-serif;
}

.success-container .success-content {
    height: 100%;
    padding: 60px 0px;
}

.success-container .success-content .submitted-text {
    width: 280px;
    text-align: center;
    font-weight: 500;
    font-family: sans-serif;
    margin: 20px auto 0px auto;
}

.success-container .success-content .shortlisted-text {
    text-align: center;
    margin: 20px auto 0px auto;
    width: 280px;
    font-weight: 300;
    padding-bottom: 10px;
}

.success-container .success-content h3 {
    text-align: center;
    margin: 20px 0px;
    font-weight: 700;
    font-size: 30px;
}

@media screen and (max-width:768px){
    .success-container .heading {
        font-size: 24px;
    }
}

@media screen and (max-width:375px){
    .success-container .success-content .submitted-text {
        font-size: 14px;
    }
    .success-container .success-content h3 {
        font-size: 26px;
    }
    .success-container .success-content .submitted-text {
        font-size: 14px;
    }

}

