.methodology-container{
    min-height:100vh;
    align-items: center;
    text-align: center;
    padding-top:5%;
  font-family: Poppins;
}
.methodology-container h2{
    font-weight: 600;
}
.methodology-container h2 span{
    color:#0067F0;
  font-family: Poppins;
}
.methodology-container p {
    width:70%;
    margin: 1.5% auto;
  font-family: Poppins;
  font-size:1rem;
  font-weight:500;
}
.methodology-container div{
    display:flex;
    width: 80%;
    margin:2% auto;
    align-items: center;
    justify-content: space-around;
}
.methodology-container div img{
    height:18rem;
}
.methodology-container .methodology-card{
    display:flex;
    flex-direction: column;
    width:26rem;
    text-align: left;
    padding: 6% 4% 6% 4%;
    margin: 0%;
    height:max-content;
    box-shadow: 0px 0px 10px #0067F033;
    border-radius:3px;
    /* width:86%; */
}
.methodology-card .methodology-header{
    display:flex;
    justify-content: space-between;
    padding: 0%;
    margin: 0%;
    width:100%;
}
.methodology-header h1{
    color:#0067F0;
    background:#CCE0FC;
    padding:1% 5%;
    border-radius: 5px;
    font-size:2.5rem;
  font-family: Neue Montreal;
  font-weight: bold;
  text-transform: none !important;
    margin-top:-3.5rem;
}
.methodology-card p,.methodology-card em{
    font-size: 0.7rem;
    padding: 0%;
    margin: 0%;
    width:80%;
    margin-right:auto;
    color:#515151;
  font-family: Poppins;
  width:90%;
  font-weight:400;
}
.methodology-card em{
    font-weight:520;
}
.methodology-header h3{
    font-family: Poppins;
    font-size: x-large;
    margin-bottom:4%;
    font-weight:600
}
.methodology-container .methodology-card-2{
    padding: 5% 5% 5% 3%;
}
.methodology-card-2 .methodology-header{
    flex-direction: row-reverse;
}
.methodology-card-2 p, .methodology-card-2 em{
    margin-left:auto;
    text-align: right;
    margin-right:0%;
}
.methodology-card-2 h1{
    margin-top:-2rem;
}
.methodology-container .methodology-c .methodology-circle{
    display:none
}
@media screen and (max-width:1100px){
    .methodology-container .methodology-card{
        width:20rem;
    }
    .methodology-container div img{
        height:16rem;
    }
}
@media screen and (max-width:930px){
    .methodology-container div img{
        height:10rem;
    }
    .methodology-card h1{
        margin-top:-1.5rem;
    }
    .methodology-card-2 h1{
        margin-top:-1rem;
    }
}
@media screen and (max-width:800px){
    .methodology-container .methodology-card{
        width:19rem;
    }
    .methodology-header h1{
        margin-top:-1rem;
    }
    .methodology-container div{
        width:90%;
    }
    .methodology-container div img{
        height:12rem;
    }
}
@media screen and (max-width:780px){
    .methodology-container{
        margin-bottom:1rem;
    }
}
@media screen and (max-width:700px){
    .methodology-container div img{
        height:10rem;
    }
    .methodology-container .methodology-card{
        width:15rem;
    }
}
@media screen and (max-width:630px){
    .methodology-container div img{
        height:8rem;
    }
    .methodology-container .methodology-card{
        width:14rem;
    }
}
@media screen and (max-width:600px){
    .methodology-container div{
        flex-direction: column;
    }
    .second-methodology{
        flex-direction: column-reverse !important;
    }
    .methodology-container .methodology-card{
        width:60vw;
        box-shadow: 0px 0px 0px #0067F033;
        margin:1rem auto;
    }
    .methodology-header{
        flex-direction: row-reverse !important;
        justify-content: flex-end !important;
        margin-bottom: 3% !important;
    }
    .methodology-header h1{
        margin-right:2rem;
        margin-top:0;
    }
    .methodology-card-2 p,.methodology-card-2 em{
        text-align: left;
        margin-left:0;
    }
    .methodology-container div img{
        height:15rem;
    }
    .methodology-container>p{
        margin:2rem auto 5rem;
        font-size:x-small;
    }
    .methodology-p{
        border-left:2px solid #0067F033;
        border-style: dashed;
        border-right: none;
        border-bottom: none;
        border-top: none;
    }
    .methodology-c{
        margin-left:auto !important;
        margin-top:-3rem !important;
        margin-bottom:-3rem !important;
        align-items: flex-start !important;
    }
    .methodology-c img{
        margin-left:initial !important;
    }
    .methodology-container .methodology-c .methodology-circle{
        height:1.5rem;
        margin-left:-2vw !important;
        display:block
    }
    .first-method{
        margin-top:3rem !important;
    }
    .methodology-container div{
        width:80%;
    }
    .methodology-container .methodology-card{
        margin-bottom:3rem !important;
    }
}
@media screen and (max-width:540px){
    .methodology-container div img{
        height:13rem;
    }
}
@media screen and (max-width:460px){
    .methodology-container h2{
        font-size: x-large;
      }
      .methodology-container .methodology-card{
          width:20rem;
          margin-left:2rem;
          margin-bottom:5rem;
      }
      .methodology-container .methodology-card{
        margin-bottom:5rem !important;
    }
}
@media screen and (max-width:450px){
    .methodology-container div img{
        height:11rem;
    }
    .methodology-container .methodology-c .methodology-circle{
        margin-left:-2.8vw !important;
    }
}
@media screen and (max-width:400px){
    .methodology-container .methodology-card{
        width:17rem;
    }
    .methodology-container div img{
        height:10rem;
    }
}