.text-certificate, .text-certificate>b {
  font-family: 'Montserrat';
  font-style: normal;

  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: white;
}

.w-100{
  max-width: 100%;
}