.sc22_hero_section {
    text-align: center;
    padding: 6rem 0rem;
    position: relative;
    height: 900px;
    /* background-color: #020122; */
    /* z-index: -2; */
}

/* Hero background icon css start */

.sc22_hero_bg_svg {
    position: absolute;
    z-index: -1;
    top: 0%;
    left: 0%;
}

/* Hero background icon css */

.sc22_play_img {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.sc22_hs_heading {
    color: #3CFAFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.6rem;
    font-weight: 600;
}

.sc22_hs_content {
    display: flex;
    width: 90%;
    height: 450px;
    margin: 0 auto;
    margin-top: 5rem;
}

.sc22_hs_content .sc22_hsc_left {
    width: 60%;
    position: relative;
}

.sc22_hsc_left .sc22_hero_img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.sc22_hs_content .sc22_hsc_right {
    width: 40%;
    background: linear-gradient(179.97deg, rgba(60, 250, 255, 0.1736) -80.46%, rgba(93, 87, 224, 0.0112) 124.25%);
    border-radius: 15px;
    margin-left: 1rem;
    padding: 1rem;
}

.sc22_hsc_right .sc22_ihfc_img {
    margin-left: 2rem;
}

.sc22_hsc_right .sc22_hsc_right_subtext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 1.4rem;
}

.sc22_hsc_right .hsc_subtext_span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.sc22_hsc_right .sc22_hsc_right_maintext {
    width: 80%;
    margin: 2rem auto;
    border-radius: 4px;
}

.sc22_hsc_right .sc22_hsc_right_maintext .hsc_right_maintext_p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.sc22_hsc_right .sc22_hsc_right_details {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.sc22_hsc_right_details .hsc_right_details_left,
.sc22_hsc_right_details .hsc_right_details_right {
    display: flex;
    align-items: center;
}

.hsc_right_details_left .rf_left_starting,
.hsc_right_details_right .rf_left_starting {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #fff;
    text-align: left;
}

.hsc_right_details_left .rf_left_19_june,
.hsc_right_details_right .rf_left_19_june {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff;
    line-height: 1.2rem;
}

/* Registration fee css start */

.sc22_registration_fee_cover {
    margin-top: 2rem;
}

.sc22_reg_fee_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
}

.sc22_reg_fee_price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    background: linear-gradient(180deg, #7EF6FD -53.85%, #FFFFFF 160.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Registration fee css end */

.hsc_right_details_apply {
    margin-top: 2rem;
}

.hsc_right_details_apply .rd_btn_apply_now {
    color: #fff;
    background: #5038EA;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0.4rem 2.2rem;
    font-size: 2rem;
    outline: none;
    border: none;
}

@media (min-width: 900px) and (max-width: 1024px) {
    .sc22_hs_content .sc22_hsc_left {
        width: 50%;
    }

    .sc22_hs_content .sc22_hsc_right {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    .sc22_hero_section {
        padding: 3rem 0rem;
        height: 1000px;
    }

    .sc22_hero_bg_svg {
        display: none;
    }

    .sc22_hs_heading_cover {
        height: 300px;
    }

    .sc22_hs_content {
        display: flex;
        width: 100%;
        height: 550px;
        margin: 5rem auto 0rem auto;
        flex-direction: column-reverse;
        align-items: center;
    }

    .sc22_hs_content .sc22_hsc_right {
        width: 80%;
        background: transparent;
    }

    .sc22_hs_content .sc22_hsc_left {
        width: 80%;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .sc22_hero_section {
        padding: 6rem 0rem;
        height: 800px;
    }

    .sc22_hs_heading {
        font-size: 2rem;
    }

    .sc22_hs_heading_cover {
        height: 150px;
    }

    .sc22_hs_content {
        height: 480px;
        margin: 5rem auto 0rem auto;
    }

    .sc22_hs_content .sc22_hsc_right {
        width: 90%;
        background: transparent;
    }

    .sc22_hs_content .sc22_hsc_left {
        width: 80%;
        margin-top: 2rem;
    }

    .sc22_hsc_right .sc22_hsc_right_subtext {
        font-size: 1rem;
        margin-top: 1rem;
        line-height: 1.4rem;
    }

    .sc22_hsc_right .sc22_hsc_right_maintext .hsc_right_maintext_p {
        font-size: 1.6rem;
    }

    .sc22_hsc_right .sc22_hsc_right_details {
        width: 90%;
        margin: 0 auto;
    }

    .hsc_right_details_left .rf_left_starting,
    .hsc_right_details_right .rf_left_starting {
        font-size: 0.8rem;
    }

    .hsc_right_details_left .rf_left_19_june,
    .hsc_right_details_right .rf_left_19_june {
        font-size: 1.2rem;
    }

    .hsc_right_details_apply {
        margin-top: 2rem;
    }

    .hsc_right_details_apply .rd_btn_apply_now {
        padding: 0.4rem 2.2rem;
        font-size: 1.6rem;
    }
}


@media screen and (max-width: 425px) {
    .sc22_hs_heading {
        font-size: 2rem;
    }

    .sc22_hs_heading_cover {
        height: 150px;
    }

    .sc22_hs_content {
        height: 420px;
        margin: 5rem auto 0rem auto;
    }

    .sc22_rl_logo {
        width: 50%;
    }

    .sc22_ihfc_img {
        width: 30%;
    }

    .sc22_hs_content .sc22_hsc_right {
        width: 95%;
        background: transparent;
    }

    .sc22_hs_content .sc22_hsc_left {
        width: 80%;
        margin-top: 2rem;
    }

    .sc22_hsc_right .sc22_hsc_right_subtext {
        font-size: 0.8rem;
        margin-top: 1.5rem;
        line-height: 1.3rem;
    }

    .sc22_hsc_right .sc22_hsc_right_maintext .hsc_right_maintext_p {
        font-size: 1.4rem;
    }

    .sc22_hsc_right .sc22_hsc_right_details {
        width: 95%;
        margin: 0 auto;
    }

    .sc22_cal_img {
        width: 38px;
        height: 38px;
    }

    .sc22_venue_img {
        width: 34px;
        height: 36px;
    }
}