.faq-section {
    min-height: 100vh;
    text-align: center;
    padding: 5rem 0rem;
    font-family: Poppins;
    background-color: #020122;
  }

  .sc22_faq_section {
    background-color: transparent;
  }

  .faq-section h2{
      margin-bottom:3rem;
      font-weight: 600;
  }

  .faq-section .faq_title {
      color: #fff;
      font-family: 'Montserrat',sans-serif;
      font-weight: 700;
  }

  .sc22_faq_title {
    color: #f64b42!important;
    font-size: 3.2rem;
  }

  .sc22_faq_questions {
    color: #f64b42!important;
  }

  .faq-section h2 span {
    color: #0067f0;
    font-family: Poppins;
  }
  .faq-main {
    display: flex;
    width: 80%;
    margin: auto;
    background: #E8F0FE;
  
  }
  .faq-main div {
    width: 50% !important;
  }
  .q-cont div,.faq-vertical-header {
    background: #0067f0;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid white; */
    padding: 3.5% 2%;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in;
    background: transparent linear-gradient(90deg, #3163DA 0%, #5988F7 100%);
    /* border-radius:10px; */
  }
  .faq-vertical-header{
    align-items: center !important;
  }
  .q-cont div i,.faq-vertical-header i {
    color: white;
    width: 10%;
    display: flex;
      justify-content: center;
      align-items: center;
  vertical-align: text-bottom;
    }
    .faq-vertical-header img{
      align-items: center;
      margin:auto 5%;
    }
  .q-cont div p,.faq-vertical-header p {
    margin: 0;
    text-align: left;
    padding-left: 2%;
    color: white;
    width: 85%;
    font-family: Poppins;
    font-size:medium
  }
  .faq-ans {
    margin-top: 5rem;
    text-align: left;
    margin-left: 5rem;
  }
  .faq-ans p,.faq-vertical-ans {
    font-size: 0.95rem;
    width: 65%;
    color:black;
    color: #020122;
    font-family: Poppins;
  }
  .faq-ans p{
    width:80%;
    font-family: Poppins;
  }
  .faq-vertical-ans{
    width:80%;
    margin:3% auto 6%;
    text-align: left;
  }
  .faq-ans hr,.faq-hr {
    width: 2rem;
    border:1px solid #5584F4;
  }
  .faq-hr{
    margin-left: 10%;
      margin-bottom: -1%;
  }
  .q-cont .faq-active {
    width: 107% !important;
    transition: all 0.5s ease-in;
    background: transparent linear-gradient(90deg, #1d22b9 0%, #0008FF 100%);
  box-shadow: 0px 0px 25px #00000029;
  /* border-bottom: 0.001px solid white; */
  }
  .faq-circle{
      font-size: x-small;
  }
  .faq-arrow{
    height:1rem;
    margin:0 1rem;
  }
  .faq-arrow-down{
    transform: rotate(90deg);
  }
  @media screen and (max-width:950px){
    .faq-main{
      width:90%;
    }
  }
  .faq-vertical{
    width:80%;
    margin:auto;
  }
  @media screen and (max-width:460px){
    .faq-section {
      padding-top: 3rem;
    }
    .faq-section h2{
      font-size:x-large;
      width:80%;
      margin:2rem auto;
    }
    .faq-vertical-ans{
      font-size: x-small;
    }
    .faq-vertical-header p{
      font-size: small;
    }
    .faq-section .faq_title {
      width: 75%;
      padding: 0px 20px;
    }
  }

  @media screen and (max-width: 400px) {
    .faq-section .faq_title {
      width: 85%;
      padding: 0px 20px;
    }
  }

  @media screen and (max-width: 325px) {
    .faq-section .faq_title {
      width: 90%;
      padding: 0px 10px;
    }
  }
  